.tb-home {
    border: 8px black solid;
    width: 50%;
    margin: auto;
    margin-top: 220px;
    text-align: center;
    font-size: 2.2em;
    background-color: black;
}
h1{
    color: whitesmoke;
}
